<div class="main-container">
	<div class="col-md-12">
		<div class="news-flash-box">
			<div class="news-flash-left">
				<span>News Flash</span> <span class="news-flash-title"><samp
						class="triangle-topright"></samp> </span>
			</div>
			<div class="news-flash-right">
				<a href="">{{newsFlash}}</a>
			</div>
			<span class="news-flash-close">X</span>
		</div>
	</div>
	<div class="col-md-3 col-sm-3">
		<div class="category-box col-md-12">
			<h2>personality</h2>

			<div class="personalitySlider" ng-repeat="_v in personality">
				<div class="col-md-6 padding0">
					<img class="personality-icon"
						src="data:image/JPEG;base64,{{_v.imageUrl}}"
						style="width: 150px; height: 150px;">
					<div class="personality-name">{{_v.userName}}</div>
					<div class="personality-name">{{_v.emailId}}</div>


				</div>
				<div class="col-md-6">
					<div class="slider-control">
						<!-- <a class="angle-left"><i ng-click="goLeft($event)"
							id="{{_v.pagination}}" class="fa fa-angle-left"></i></a> <a
							class="angle-right"><i ng-click="goRight($event)"
							id="{{_v.pagination}}" class="fa fa-angle-right"></i></a> -->
					</div>

					<ul class="feedList">
						<li ng-repeat="_lest in _v.feedList">{{_lest.feed}}</li>
					</ul>
				</div>
			</div>

		</div>

		<div class="category-box col-md-12">
			<h2>Trends and notifications...</h2>
			<div class="row">
				<div class="trendsList" style="border-right: 1px solid lightgray">
					<table id="asyncTable"
						class="table table-condensed table-striped clearfix"
						style="display: none">
						<thead>
							<tr>
								<td></td>

							</tr>
						</thead>
						<tbody>
						</tbody>
					</table>
				</div>
				<!-- <ul class="trendsList">
					<li ng-repeat="_v in trendsList">{{_v.trendName}}
						<div class="trendColun">{{_v.trendColun}}</div>
					</li>

				</ul> -->

			</div>
			<!--  -->

		</div>

	</div>
	<div class="col-md-6 col-sm-6">
		<div class="category-box col-md-12">
			<h2>PERFORMANCE</h2>
		</div>
		<div class="category-box col-md-12">
			<span><myelem></myelem> </span>
		</div>

		<!-- <div class="category-box col-md-12">

			<div class="col-md-4 col-sm-4 right-p0 left-p0">
				<div class="oppinion">
					<img class="personality-icon" src="images/mind-icon/chet.png">
					<div class="text">
						YOUR<br> OPINION <a href="#"> More </a>
					</div>
				</div>
			</div>
			<div class="col-md-4 col-sm-4 right-p0 ">
				<div class="leader">
					<img class="personality-icon" src="images/mind-icon/hi.png">
					<div class="text">
						BE<br> LEADER <a href="#"> More </a>
					</div>
				</div>
			</div>
			<div class="col-md-4 col-sm-4 right-p0 ">
				<div class="videopic">
					<img class="personality-icon" src="images/mind-icon/cam.png">
					<div class="text">
						SUBMIT <br> VIDEOPIC <a href="#"> More </a>
					</div>
				</div>
			</div>
		</div>
 -->
		<div class="category-box col-md-12">
			<h2>
				CURRENT SENTIMENTS <a href="" class="more"> View More ></a>
			</h2>
			<ul class="sentimentsList">
				<li ng-repeat="list in currentSentiment | limitTo:3">
					<div class="border">
						<a href="#/sentiment/{{list.id}}"> <img class="responsive"
							src="data:image/JPEG;base64,{{list.image}}"
							style="width: 184px; height: 120px;"></a>
						<div>{{list.subject}}</div>

						<a class="greeBG" id="{{list.id}}" href="#/verdict/{{list.id}}">VIEW VERDICT </a>

					</div>
				</li>


			</ul>


		</div>


		<div class="category-box col-md-12">
			<h2>
				Permanent SENTIMENTS <a href="" class="more"> View More ></a>
			</h2>
			<ul class="sentimentsList">
				<li ng-repeat="list in permanentSentiment | limitTo:3">
					<div class="border">
						<img class="responsive"
							src="data:image/JPEG;base64,{{list.image}}"
							style="width: 184px; height: 120px;">
						<div style="font-style: italic;">{{list.subject}}</div>
						<a class="orangeBG" id="{{list.id}}" href="#/verdict/{{list.id}}">VIEW VERDICT </a>
					</div>
				</li>

			</ul>

		</div>
	</div>
	<!-- .....end....... -->
	<div class="col-md-3 col-sm-3">
		<div class="category-box col-md-12">
			<h2>VERDICT</h2>

			<ul class="verdict">
				<li class="greeBG" ng-repeat="list in verdictList"><span>{{list}}</span>
					<div class="viewCase">
						View case + <span>{{list.date}}</span>
					</div> <a class="shere" id="{{list.id}}" href="#"><i
						class="fa fa-share-alt"></i></a></li>
				<a class="seeMore"><span>See More Verdicts</span> <i class="fa">+</i>
				</a>
			</ul>
		</div>


		<div class="category-box col-md-12">
			<h2>task</h2>
			<ul class="taskList ">
				<li ng-repeat="list in taskList"><span class="pull-xs-left G "><a
						href="#/problem/{{list.id}}"><img class="task-icon responsive"
							src="data:image/JPEG;base64,{{list.attachment}}"
							style="width: 50px; height: 50px;"></a></span>
					<div class="right">
						<strong>{{list.Subject}} </strong> {{list.description}} <a
							href="#" id="{{list.id}}"> Share</a>
					</div></li>

			</ul>
			<pagination ng-model="currentPage" total-items=20 max-size=5
				boundary-links="true"> </pagination>
		</div>
	</div>
</div>
