<link rel="stylesheet" href="content/css/govern.css">
<link href="client/app/problem/problem.styles.css" rel="stylesheet" />

<div class="main-container">
	<div class="col-md-12">
		<div class="news-flash-box">
			<div class="news-flash-left">
				<span>News Flash</span> <span class="news-flash-title"><samp
						class="triangle-topright"></samp> </span>
			</div>
			<div class="news-flash-right">
				<a href="">{{newsFlash}}</a>
			</div>
			<span class="news-flash-close">X</span>
		</div>
	</div>
	<div class="col-md-3 col-sm-3">
		<div class="category-box col-md-12">
			<h2>personality</h2>

			<div class="personalitySlider" ng-repeat="_v in personality">
				<div class="col-md-6 padding0">
					<img class="personality-icon" src="{{_v.imageUrl}}">
					<div class="personality-name">Narendra Modi</div>
				</div>
				<div class="col-md-6">
					<div class="slider-control">
						<a class="angle-left"><i ng-click="goLeft($event)"
							id="{{_v.pagination}}" class="fa fa-angle-left"></i></a> <a
							class="angle-right"><i ng-click="goRight($event)"
							id="{{_v.pagination}}" class="fa fa-angle-right"></i></a>
					</div>

					<ul class="feedList">
						<li ng-repeat="_lest in _v.feedList">{{_lest.feed}}</li>
					</ul>
				</div>
			</div>

		</div>

		<div class="category-box col-md-12">
			<h2>Trends</h2>

			<ul class="trendsList">
				<li ng-repeat="_v in trendsList">{{_v.trendName}}
					<div class="trendColun">{{_v.trendColun}}</div>
				</li>

			</ul>

		</div>

	</div>
	<div class="col-md-6 col-sm-6">
		<div class="category-box col-md-12">

			<div class="container-fluid">

				<div class="row" style="background-color: #eee;">
					<!-- 	<div class="col-lg-3 col-md-3 col-sm-3 col-xs-3" style="padding: 10px;">
                <div style="background-color: #ffffff; min-height: 680px;"></div>
            </div> -->
					<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12"
						style="padding: 10px 0;">
						<div
							style="background-color: #ffffff; min-height: 500px; padding: 10px;">
							<div class="row" style="margin: 10px 0;">
								<div class="col-lg-12 col-md-12 col-sm-12">
									<div
										style="color: #41b7d8; font-weight: bold; font-size: 25px;"
										class="pull-left">Active Problems</div>
									<div class="pull-right" style="padding: 10px 0;">
										<span
											style="font-size: 14px; font-weight: bold; color: #f95900; margin-right: 5px;"></span>
										<i class="glyphicon glyphicon-menu-up"
											style="color: #f95900; font-size: 18px; position: relative; top: 5px;"></i>
									</div>
								</div>
							</div>
							<div class="row active-problem-nav">
								<ul class="nav nav-pills nav-justified">
									<li class="active"><a data-toggle="tab"
										data-target="#location">Location<br /> <span
											style="display: none;">Search</span></a></li>
									<li><a data-toggle="tab" data-target="#problemType">Problem
											Type<br /> <span>Select</span>
									</a></li>
									<li><a data-toggle="tab" data-target="#supporter">Supporter<br />
											<span>Select</span></a></li>
									<li><a data-toggle="tab" data-target="#status">Status<br />
											<span>Select</span></a></li>
									<li><a data-toggle="tab" data-target="#department">Department<br />
											<span>Select</span></a></li>
								</ul>
								<div class="tab-content tab-content-problem">
									<div id="location" class="tab-pane fade in active">
										<input type="text" class="form-control" id="problemTitle"
											ng-model="searchText"
											placeholder="Start typing a location name..."
											my-enter="searchTask(searchText)"
											style="border: 1px solid #41b7d8; border-radius: 0;">
									</div>
									
									<!-- <div id="problemType" class="tab-pane fade">
										<div class="radios  radio-type">
											<ul>
												<li><input type="radio" name="problemType" id="name1"
													ng-model="problemTypeSelected" value="health"
													ng-change="searchTaskByProblemType()" /> <label
													class="radio" for="name1"></label> <span>Health</span></li>
												<li><input type="radio" name="problemType" id="name2"
													ng-model="problemTypeSelected" value="fire"
													ng-change="searchTaskByProblemType()" /> <label
													class="radio" for="name2"></label> <span>Fire</span></li>
												<li><input type="radio" name="problemType" id="name3"
													ng-model="problemTypeSelected" value="sports"
													ng-change="searchTaskByProblemType()" /> <label
													class="radio" for="name3"></label> <span>Sports</span></li>
												<li><input type="radio" name="problemType" id="name4"
													ng-model="problemTypeSelected" value="problem"
													ng-change="searchTaskByProblemType()" /> <label
													class="radio" for="name4"></label> <span>Problem</span></li>
												<li><input type="radio" name="problemType" id="name5"
													ng-model="problemTypeSelected" value="transport"
													ng-change="searchTaskByProblemType()" /> <label
													class="radio" for="name5"></label> <span>Transport</span></li>
											</ul>
										</div>
									</div> -->
									
									<div id="problemType" class="tab-pane fade">
										<div class="checkboxs checkbox-type">
											<ul>
												<li ng-repeat="categorie in categories"><input type="checkbox" name={{categorie}} id={{categorie}}
													ng-model="problemTypeSelected" value="health"checklist-model="problem.categorieSelected"
													checklist-value="categorie"
													ng-change="searchTaskByProblemType()" /> <label
													class="checkbox" for={{categorie}}></label> <span>{{categorie.name}}</span></li>
												
											</ul>
										</div>
									</div>

									<div id="supporter" class="tab-pane fade">
										<div class="radios  radio-type">
											<!-- <ul>
												<li><input type="radio" name="supporter"
													id="supporter1" value="" checked /> <label class="radio"
													for="supporter1"></label> <span>supporter 1</span></li>
												<li><input type="radio" name="supporter"
													id="supporter2" value="" /> <label class="radio"
													for="supporter2"></label> <span>supporter 2</span></li>
												<li><input type="radio" name="supporter"
													id="supporter3" value="" /> <label class="radio"
													for="supporter3"></label> <span>supporter 3</span></li>
												<li><input type="radio" name="supporter"
													id="supporter4" value="" /> <label class="radio"
													for="supporter4"></label> <span>supporter 4</span></li>
												<li><input type="radio" name="supporter"
													id="supporter5" value="" /> <label class="radio"
													for="supporter5"></label> <span>supporter 5</span></li>
											</ul>
 -->										</div>
									</div>

									<div id="status" class="tab-pane fade">
										<div class="radios  radio-type">
											<ul>
												<li><input type="radio" name="status" id="status1"
													value="Created" ng-model="problemTypeSelected"
													ng-change="searchTaskByStatus()" /> <label class="radio"
													for="status1"></label> <span>Active</span></li>
													<li><input type="radio" name="status" id="status2"
													value="progress" ng-model="problemTypeSelected"
													ng-change="searchTaskByStatus()" /> <label class="radio"
													for="status2"></label> <span>Created</span></li>
												<li><input type="radio" name="status" id="status2"
													value="progress" ng-model="problemTypeSelected"
													ng-change="searchTaskByStatus()" /> <label class="radio"
													for="status2"></label> <span>Pending</span></li>
												<li><input type="radio" name="status" id="status3"
													value="completed" ng-model="problemTypeSelected"
													ng-change="searchTaskByStatus()" /> <label class="radio"
													for="status3"></label> <span>Deleted</span></li>
													<li><input type="radio" name="status" id="status3"
													value="completed" ng-model="problemTypeSelected"
													ng-change="searchTaskByStatus()" /> <label class="radio"
													for="status3"></label> <span>Banned</span></li>
													<li><input type="radio" name="status" id="status3"
													value="completed" ng-model="problemTypeSelected"
													ng-change="searchTaskByStatus()" /> <label class="radio"
													for="status3"></label> <span>Compleated</span></li>
											</ul>
										</div>
									</div>
									<div id="department" class="tab-pane fade">
										<div class="checkboxs checkbox-type">
											<ul>
												<li ng-repeat="department in departments"><input
													type="checkbox" name="{{department}}" id="{{department}}"
													checklist-model="problem.departmentSelected"
													checklist-value="department" ng-change="testFunction()" />
													<label class="checkbox" for="{{department}}"></label> <span>{{department.departmentName}}</span></li>
												<!-- <li><input type="checkbox" name="department2"
													id="department2" value="" /> <label class="checkbox"
													for="department2"></label> <span>Fire</span></li>
												<li><input type="checkbox" name="department3"
													id="department3" value="" /> <label class="checkbox"
													for="department3"></label> <span>Sports</span></li>
												<li><input type="checkbox" name="department4"
													id="department4" value="" /> <label class="checkbox"
													for="department4"></label> <span>MCD</span></li>
												<li><input type="checkbox" name="department5"
													id="department5" value="" /> <label class="checkbox"
													for="department5"></label> <span>Transport</span></li> -->

											</ul>
										</div>
									</div>
								</div>
							</div>

							
<p><br><br>{{message}}</p>
								<div ng-repeat="task in tasks">
									<div class="col-lg-6 col-md-6 col-sm-6"
										style="padding-right: 0;">
									
									<div ng-show = "elastic" class="success-story-well" id="success-story-0">
										<a  href="#/problem/{{task.fields.id[0]}}"><img style="width: 220px; height: 100%;" ng-src="data:image/JPEG;base64,{{task.fields.attachment[0]}}"
												alt="task image" /><br> <p><b>{{task.fields.subject[0]}}</b></p></a>
											<!-- <div class="success-story-well-detail">
												
												<a href="#"></a>
												<div class="pull-right">
												</div>
											</div> -->
										</div>
									

										<div ng-show = "taskDefault" class="success-story-well" id="success-story-0">
										<a  href="#/problem/{{task.id}}"><img style="width: 200px; height: 150px;" ng-src="data:image/JPEG;base64,{{task.attachment}}"
												alt="task image" /></a>
											<div class="success-story-well-detail">
												<p>{{task.description}}</p>
												<a href="#"></a>
												<div class="pull-right">
												</div>
											</div>
										</div>

									</div>

								</div>

							</div>
						</div>
					</div>
				</div>

			</div>


		</div>
	</div>

	<div class="col-md-3 col-sm-3">
		<div class="category-box col-md-12">
			<h2>VERDICT</h2>

			<ul class="verdict">
				<li class="greeBG" ng-repeat="list in verdictList"><span>{{list}}</span>
					<div class="viewCase">
						View case + <span>{{list.date}}</span>
					</div> <a class="shere" id="{{list.id}}" href="#"><i
						class="fa fa-share-alt"></i></a></li>
				<a class="seeMore"><span>See More Verdicts</span> <i class="fa">+</i>
				</a>
			</ul>
		</div>


		<div class="category-box col-md-12">
			<h2>task</h2>
			<ul class="taskList ">
				<li ng-repeat="list in taskList"><span class="pull-xs-left G "><img
						class="task-icon responsive"
						src="data:image/JPEG;base64,{{list.attachment}}"
						style="width: 50px; height: 50px;"></span>
					<div class="right">
						<strong>{{list.Subject}} </strong> {{list.description}} <a
							href="#" id="{{list.id}}"> Share</a>
					</div></li>

			</ul>
			<pagination ng-model="currentPage" total-items=20 max-size=5
				boundary-links="true"> </pagination>
		</div>
	</div>
</div>
<script type="text/javascript">
	$(function() {

		$(".success-story-well,.success-story-well-hover").mouseenter(
				function() {

					$(".success-story-well-hover").toggle();
				}).mouseleave(function() {

			$(".success-story-well-hover").hide();
		});

	});
</script>